@font-face {
    font-family: IranYekanMedium;
    src: url(./Assets/Font/IranYekanwebMedium.woff);
}

@font-face {
    font-family: IranYekanRegular;
    src: url(./Assets/Font/IranYekanwebRegular.woff2);
}

@font-face {
    font-family: IranYekanBold;
    src: url(./Assets/Font/IranYekanwebBold.woff2);
}

@font-face {
    font-family: IranYekanExtraBold;
    src: url(./Assets/Font/IranYekanwebExtraBold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
}
div.menu {
    border-bottom: 2px dotted rgb(229, 229, 229);
}

a.nav-link {
    color: black;
    font-family: IranYekanBold;
}

a.nav-link:hover {
    color: darkgrey;
}
main>div.main {
    width: 100%;
    height: 420px;
    background: url(./Assets/IMG/AboutUs/about-us-page-heading.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 30px;
}

div.main h2 {
    font-family: IranYekanExtraBold;
    font-size: 60px;
}

div.main span {
    font-family: IranYekanRegular;
    font-size: 20px;
}
section div.container div.right h4 {
    font-family: IranYekanExtraBold;
    font-size: 40px;
}

section div.container div.right span {
    font-family: IranYekanRegular;
    font-size: 14px;
    color: rgb(170, 170, 170);
}

section div.container div.right div.quote {
    font-family: IranYekanRegular;
    font-size: 15px;
}

section div.container div.right ul {
    border-top: 3px dotted rgb(238, 238, 238);
}

section div.container div.right ul li a {
    background-color: rgb(42, 42, 42);
    color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
form{
    font-family: IranYekanRegular;
    font-size: 15px; 
}
div.map>div.right>form>div.row>div.col-lg-6>fieldset>input{
    width: 90%;
    padding-right: 15px;
}
div.map>div.right>form>div.row>div.col-lg-12>fieldset>textarea{
    width: 95%;
    height: 100px;
    padding-top: 10px;
    padding-right: 15px;
}
div.map>div.right>form>div.row>div.col-lg-12>fieldset>button{
    background-color: rgb(42, 42, 42);
    color: #fff;
    padding: 15px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
div.map{
    border-bottom: 3px dotted rgb(229, 229, 229);
    padding-bottom: 50px;
}
div.headingsubscribe>h2 {
    overflow: hidden;
    font-family: IranYekanExtraBold;
    font-size: 35px;
}
div.headingsubscribe>span {
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
}
div.headingsubscribe,div.col-7>form {
    padding: 15px 90px;

}
form>div.row>div.col-lg-5>fieldset>input{
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
    width: 100%;
    text-align: right;
    padding: 10px 5px;
}
form>div.row>div.col-lg-2>fieldset>button{
    border: none;
    background-color: #2a2a2a;
    padding: 10px;
    
}
form>div.row>div.col-lg-2>fieldset>button>i{
    border: none;
    overflow: hidden;
    font-size: 18px;
    color: #fff;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span{
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead{
    font-family: IranYekanBold;
    color: #000;
    font-size:18px ;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span>a{
    text-decoration: none;
    color: dimgrey;
    font-size:18px ;
    transition: 500ms;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span>a:hover{
    color: #000;
    transition: 500ms;
}
footer{
    background-color: #2a2a2a;
    padding: 40px 100px 0px 100px;
}
footer>div.footer>div.row>div.col-lg-3>div.links>ul>li>a.link{
    text-decoration: none;
    color: #f8f8f8;
    font-family: IranYekanMedium;
    font-size: 14px;
    
}
footer>div.footer>div.row>div.col-lg-3>div.first-item>ul>li>a.link{
    text-decoration: none;
    color: #f8f8f8;
    font-family: IranYekanMedium;
    font-size: 14px;

    
}
footer>div.footer>div.row>div.col-lg-3>div.links>h4{
    font-family: IranYekanBold;  
    color: #f8f8f8;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer{
    border-top: 0.5px solid rgba(250, 250, 250, 0.3);;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer>p{
    font-family: IranYekanRegular;
    font-size: 15px;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer>ul.d-flex>li>a>i.fa-brands{
    color: #cff;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer>p>a{
    color: #cff;
}