@font-face {
    font-family: IranYekanMedium;
    src: url(./Assets/Font/IranYekanwebMedium.woff);
}

@font-face {
    font-family: IranYekanRegular;
    src: url(./Assets/Font/IranYekanwebRegular.woff2);
}

@font-face {
    font-family: IranYekanBold;
    src: url(./Assets/Font/IranYekanwebBold.woff2);
}

@font-face {
    font-family: IranYekanExtraBold;
    src: url(./Assets/Font/IranYekanwebExtraBold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
}

div.menu {
    border-bottom: 2px dotted rgb(229, 229, 229);
}

a.nav-link {
    color: black;
    font-family: IranYekanBold;
}

a.nav-link:hover {
    color: darkgrey;
}

div.mainbanner {
    border-bottom: 3px dotted rgb(229, 229, 229);
    padding-bottom: 15px;
}

div.row>div.left {
    background-image: url(./Assets/IMG/MainBanner/left-banner-image.jpg);
    background-size: cover;
    height: 600px;
}

div.left>h4 {
    font-family: IranYekanExtraBold;
    font-size: 50px;
    color: white;
    margin: 10px 0px;
}

div.left>span {
    font-family: IranYekanRegular;
    font-size: 20px;
    color: white;
    margin: 10px 0px;
}

div.left>a {
    text-decoration: none;
    border: 1px solid #fff;
    width: 22%;
    color: white;
    font-family: IranYekanRegular;
    font-size: 15px;
    margin: 20px 16px;
    transition: 500ms;
}

div.left>a:hover {
    background-color: white;
    color: black;
    transition: 500ms;
}

div.row>div.first-thumb {
    width: 48%;
    background-image: url(./Assets/IMG/MainBanner/baner-right-image-01.jpg);
    height: 300px;
    font-family: IranYekanRegular;
    color: #fff;
    margin: 0px 5px;
}

div.row>div.first-thumb>h4 {
    margin-top: 30%;
    overflow: hidden;
}

div.row>div.twice-thumb {
    width: 48%;
    background-image: url(./Assets/IMG/MainBanner/baner-right-image-02.jpg);
    height: 300px;
    font-family: IranYekanRegular;
    color: #fff;
    margin: 0px 5px;
}

div.row>div.twice-thumb>h4 {
    margin-top: 30%;
    overflow: hidden;
}

div.row>div.third-thumb {
    width: 48%;
    background-image: url(./Assets/IMG/MainBanner/baner-right-image-04.jpg);
    height: 280px;
    font-family: IranYekanRegular;
    color: #fff;
    margin: 20px 5px;
}

div.row>div.third-thumb>h4 {
    margin-top: 40%;
    overflow: hidden;
}

div.row>div.forth-thumb {
    width: 48%;
    background-image: url(./Assets/IMG/MainBanner/baner-right-image-03.jpg);
    height: 280px;
    font-family: IranYekanRegular;
    color: #fff;
    margin: 20px 5px;
}

div.row>div.forth-thumb>h4 {
    margin-top: 40%;
    overflow: hidden;
}

div.men,
div.woman,
div.kids,
div.explore,
div.social,
div.container,
div.headingsubscribe,div.col-7>form {
    padding: 15px 90px;

}

div.men>h2,
div.woman>h2,
div.kids>h2,
div.social>h2,
div.headingsubscribe>h2 {
    overflow: hidden;
    font-family: IranYekanExtraBold;
    font-size: 35px;
}

div.men>span,
div.woman>span,
div.kids>span,
div.social>span,
div.headingsubscribe>span {
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
}

swiper-container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.card-body {
    font-family: IranYekanBold;
}

div.mencard,
div.womancard,
div.kidscard,
div.explore,
div.container{
    border-bottom: 3px dotted rgb(229, 229, 229);
    padding-bottom: 60px;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.explore>div.leftexplore>h2 {
    overflow: hidden;
    font-family: IranYekanBold;
}

div.explore>div.leftexplore>span,
p {
    font-family: IranYekanRegular;
    font-size: 15px;
    color: rgb(170, 170, 170);
}

div.explore>div.leftexplore>div.quote>p {
    font-family: IranYekanRegular;
    font-size: 15px;
    color: black;
}

div.explore>div.leftexplore>a {
    text-decoration: none;
    border: 1px solid black;
    width: 22%;
    color: black;
    font-family: IranYekanRegular;
    font-size: 15px;
    margin: 20px 0px;
    transition: 500ms;
}

div.explore>div.leftexplore>a:hover {
    background-color: rgb(42, 42, 42);
    color: white;
    transition: 500ms;
}

div.rightexplore {
    padding: 40px;
}

div.rightexplore>div.row>div.col-lg-5>div.leather>h4,
div.rightexplore>div.row>div.col-lg-5>div.leather>span,
div.rightexplore>div.row>div.col-lg-5>div.type>h4,
div.rightexplore>div.row>div.col-lg-5>div.type>span {
    overflow: hidden;
    font-family: IranYekanBold;
}

div.rightexplore>div.row>div.col-lg-5>div.leather,
div.rightexplore>div.row>div.col-lg-5>div.type {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.rightexplore>div.row>div.img-1,
div.rightexplore>div.row>div.img-2 {
    display: flex;
    justify-content: center;
}
form>div.row>div.col-lg-5>fieldset>input{
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
    width: 100%;
    text-align: justify;
    padding: 10px 5px;
}
form>div.row>div.col-lg-2>fieldset>button{
    border: none;
    background-color: #2a2a2a;
    padding: 10px;
    
}
form>div.row>div.col-lg-2>fieldset>button>i{
    border: none;
    overflow: hidden;
    font-size: 18px;
    color: #fff;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span{
    font-family: IranYekanRegular;
    color: dimgrey;
    font-size: 15px;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead{
    font-family: IranYekanBold;
    color: #000;
    font-size:18px ;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span>a{
    text-decoration: none;
    color: dimgrey;
    font-size:18px ;
    transition: 500ms;
}
div.subscribe>div.container-subscribe>div.row>div.col-4>div.row>div.col-6>ul>li.smallhead>span>a:hover{
    color: #000;
    transition: 500ms;
}
footer{
    background-color: #2a2a2a;
    padding: 40px 100px 0px 100px;
}
footer>div.footer>div.row>div.col-lg-3>div.links>ul>li>a.link{
    text-decoration: none;
    color: #f8f8f8;
    font-family: IranYekanMedium;
    font-size: 14px;
    
}
footer>div.footer>div.row>div.col-lg-3>div.first-item>ul>li>a.link{
    text-decoration: none;
    color: #f8f8f8;
    font-family: IranYekanMedium;
    font-size: 14px;

    
}
footer>div.footer>div.row>div.col-lg-3>div.links>h4{
    font-family: IranYekanBold;  
    color: #f8f8f8;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer{
    border-top: 0.5px solid rgba(250, 250, 250, 0.3);;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer>ul.d-flex>li>a>i.fa-brands{
    color: #cff;
}
footer>div.footer>div.row>div.col-lg-12>div.under-footer>p>a{
    color: #cff;
}